# Local anvil
CHAIN_RPC_URL=http://anvil:8545
CHAIN_RPC_PUBLIC=http://127.0.0.1:8545
CHAIN_ID=31337
CHAIN_NAME=Anvil Local
CONTRACT_ADDRESS=[from deploy script]
ETHERSCAN_BASE_URL=[empty]

# Sepolia testnet
# CONTRACT_ADDRESS=
# CHAIN_RPC_URL=https://sepolia.infura.io/v3/...
# CHAIN_RPC_PUBLIC=
# CHAIN_ID=11155111
# CHAIN_NAME=Sepolia
# ETHERSCAN_BASE_URL=https://sepolia.etherscan.io

CONTRACT_ADDRESS=

PINATA_API_KEY=

PINATA_SECRET_API_KEY=

WALT_ID_API_URL=http://wallet-api:7001/wallet-api
WALT_ISSUER_API_URL=http://issuer-api:7002
WALT_VERIFIER_API_URL=http://verifier-api:7003

# Application Database 
APP_DB_ENGINE=postgres
APP_DB_HOST=app-postgres
APP_DB_NAME=diplomska_app
APP_DB_USERNAME=admin
APP_DB_PASSWORD=admin
APP_POSTGRES_DB_PORT=5432

# Server Port
PORT=3000